* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


.container {
    width:100%;
    min-height: 100vh;
    background: linear-gradient(145deg,#153677,#4e085f);
    padding: 10px;
}

.to-do-app {
    width: 100%;
    max-width: 550px;
    margin: 7rem auto 0px;
    background: #fff;
    padding: 35px 30px 60px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
    font-size:17px;
}

.title{
    display:flex;
    align-items: center;
}

.title img{
    width:30px;
    margin-left:10px;
}

h2 {
    color:#153677;
}

.input{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 0 30px;
    border-radius:30px;
    background: whitesmoke;
    font-size:15px;

}

.input input {
    flex:1;
    padding:15px;
    background: transparent;
    border:none;
}

.input input:focus{
    outline:none;
}

.input button{
    border:none;
    outline:none;
    width:25%;
    padding:15px;
    border-radius: 30px;
    background-color: #ff5945;
    color: #fff;
    cursor: pointer;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor:pointer;
    user-select: none;
    position: relative;
    word-wrap: break-word;
    display:flex;
    align-items: center;
}

ul li::before {
    content:'';
    position:absolute;
    width:28px;
    height:28px;
    border-radius: 50%;
    border: 1px solid #000;
    background: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    left:0;
    top:7px;
}

.checked {
    color:#555;
    text-decoration:line-through;
}

ul li.checked::before {
    background-image: url('images/checked.png');
}



ul li span {
    position: absolute;
    right: 0px;
    width:40px;
    height:40px;
    font-size:22px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    color: #ff5945;
    background: #b8b8bbab;
}